---
import GradientButton from "./GradientButton.astro";
import LinkIcon from "../icons/Link.astro"
interface Props {
    title: string;
    subtitle: string;
    date: string;
    description: string;
    image: string;
    alt: string;
    link?: string;
    externalLink?: string;
    imageClass: string;
} 

const { title, subtitle, date, description, image, alt, externalLink, imageClass } = Astro.props;
---


<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-gray-200"></div>
<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-200">{date}</time>

    <h3 class="flex flex-col items-start gap-2 text-xl font-semibold text-gray-900 dark:text-white">{title} 
        <span class="text-lg font-light text-gray-500 dark:text-white">{subtitle}</span>   
        <div class="h-[2px] bg-gray-300 dark:bg-gray-300 w-1/8 mb-2"></div>
    </h3>
    <img src={image} alt={alt} class={`w-45 rounded-2xl mt-5 mb-2 ${imageClass}`}>


<p class="mb-4 pb-2 pt-5 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">{description}</p>
{externalLink && (
    <GradientButton link={externalLink} label="Visitar sitio web" gradient="bg-gradient-to-r from-gray-900 to-gray-700 hover:bg-gradient-to-r hover:from-gray-800 hover:to-gray-600 transition-colors duration-500" className="ml-3" square><LinkIcon class="text-gray-700 pl-1"></LinkIcon></GradientButton>
    
)}