---

import '@fontsource-variable/fira-code'
import HeaderReact from "../components/Header.jsx";

import Footer from '../components/Footer.astro'
import "../styles/global.css";
const { title, description } = Astro.props;
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---



<!doctype html>
<html lang={lang} class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logo_circular_suave.webp" type="image/webp" sizes="any">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body class="bg-[#fbfbfe] text-[var(--primary-black)] dark:bg-black dark:text-white">
		<!-- <div class="pointer-events-none fixed inset-0 -z-10">
			<div class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]"></div>
		</div> -->
		<div class="pointer-events-none fixed inset-0 -z-10">
			<!-- Fondo para modo claro (con tono crema) -->
			<div class="absolute inset-0 dark:hidden bg-[linear-gradient(to_right,#d6cfc821_1px,transparent_1px),linear-gradient(to_bottom,#d6cfc81a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
		  
			<!-- Fondo para modo oscuro (sin cambios) -->
			<div class="absolute inset-0 hidden dark:block bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
		  
			<!-- Radial claro (ajustado a un degradado crema) -->
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full dark:hidden block bg-[radial-gradient(circle_400px_at_50%_300px,#5fd4ff36,#fbfbfe)]"></div>
		  
			<!-- Radial oscuro (sin cambios) -->
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full hidden dark:block bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]"></div>
		  </div>
		  
		  
		<div class="relative z-10">
			<HeaderReact lang={lang} client:load />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>

	:root{
		color-scheme: light dark;
		--blue-300: #1063d6;
		--primary-black: #2a3b47;
		--primary-white: #fbfbfe;
	}
	
	html{
		font-family: 'Fira Code Variable', monospace;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;

	}
	
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
