---

import '@fontsource-variable/fira-code'
// Supports only weight 400
import '@fontsource-variable/roboto-flex';
import HeaderReact from "../components/Header.jsx";

import Footer from '../components/Footer.astro'
import "../styles/global.css";
const { title, description } = Astro.props;
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---



<!doctype html>
<html lang={lang} class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logo_circular_suave.webp" type="image/webp" sizes="any">
		<link rel="preload" as="script" href="/js/lottie-player.js">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body class="bg-[#fbfbfe] text-[var(--primary-black)] dark:bg-black dark:text-white">
		<!-- <div class="pointer-events-none fixed inset-0 -z-10">
			<div class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]"></div>
		</div> -->
		<!-- <div class="pointer-events-none fixed inset-0 -z-10">
			<div class="absolute inset-0 dark:hidden bg-[linear-gradient(to_right,#d6cfc821_1px,transparent_1px),linear-gradient(to_bottom,#d6cfc81a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
		  
			<div class="absolute inset-0 hidden dark:block bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
		  
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full dark:hidden block bg-[radial-gradient(circle_400px_at_50%_300px,#5fd4ff36,#fbfbfe)]"></div>
		  
			<div class="absolute top-[-10%] left-1/2 transform -translate-x-1/2 h-[1000px] w-[1000px] rounded-full hidden dark:block bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]"></div>
		  </div> -->
		  <div class="pointer-events-none fixed inset-0 -z-10">
		  <div class="absolute top-0 z-[-2] dark:hidden h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>
		  <div class="absolute top-0 z-[-2] hidden dark:block h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		  </div> 
		  
		  
		<div class="relative z-10">
			<HeaderReact lang={lang} client:load />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>

	:root{
		color-scheme: light dark;
		--blue-300: #1063d6;
		--primary-black: #2a3b47;
		--primary-white: #fbfbfe;
	}
	
	html{
		/*font-family: 'Fira Code Variable', monospace;*/
		/*font-family: 'Public Sans Variable', sans-serif;*/
		font-family: 'Roboto Flex Variable', 'Fira Code Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;

	}
	
	
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
